<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace에는 인터페이스 풀네임 작성-->
<mapper namespace="com.spring.mvc.chap04.repository.ScoreMapper">
    <insert id="save">
        INSERT INTO score (name,kor,eng,math,total,average,grade)
        VALUES (#{name},#{kor},#{eng},#{math},#{total},#{average},#{grade})
    </insert>
    <delete id="deleteByStuNum">
        DELETE FROM score
        WHERE STU_NUM = #{stuNum}
    </delete>

    <!--    mybatis 문서에 자동 설정을 해주는 setting을 해둬서 쓰지 않아도 되지만, 컬럼명과 필드명을 맞춰줘야 함-->
    <!--    <resultMap id="score" type="com.spring.mvc.chap04.entity.Score">-->
    <!--        <result property="stuNum" column="stu_num"/>-->
    <!--    </resultMap>-->
    <select id="findByStuNum" resultType="score">
        SELECT * FROM score WHERE STU_NUM = #{stuNum}
    </select>
    <select id="findAll" resultType="score">
        SELECT * FROM score
        <if test="sort == 'name'">
            ORDER BY name
        </if>
        <if test="sort == 'avg'">
            ORDER BY average DESC
        </if>
    </select>


</mapper>