<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace에는 인터페이스 풀네임 작성-->
<mapper namespace="com.spring.mvc.chap04.repository.ScoreMapper">
    <insert id="save">
        INSERT INTO score (name,kor,eng,math,total,average,grade)
        VALUES (#{name},#{kor},#{eng},#{math},#{total},#{average},#{grade})
    </insert>
    <delete id="deleteByStuNum">
        DELETE FROM score
        WHERE STU_NUM = #{stuNum}
    </delete>
    <resultMap id="score" type="com.spring.mvc.chap04.entity.Score">
        <result property="stuName" column="stu_name"/>
        <result property="stuNum" column="stu_num"/>
    </resultMap>
    <select id="findByStuNum" resultMap="score">
        SELECT * FROM score WHERE STU_NUM = #{stuNum}
    </select>
    <select id="findAll" resultMap="score">
        SELECT * FROM score
    </select>


</mapper>